
html,body{
    height: 100%;
    margin: 0;
    padding: 0;
}
main{
    background: rgba(241,245,248,255);
    flex-direction: column;
    display: flex;
    height: 100%;
    
}
.title{
    margin-left: 650px;
    padding-top: 50px;
}
.underline{
    background-color: rgba(87,173,234,255);
    width: 100px;;
    height: 4px;
    margin-left: 80px;
    margin-top: -20px;
}

.container{
    background-color: white;
    margin-top: 75px;
    margin-left: 500px;
    min-height: 400px;
    width: 600px;
    border-radius: 10px ;
    box-shadow: 5px 10px 9px 8px rgba(233,237,240,255);
}
h1{
    color: rgba(3, 9, 29, 0.801);
    font-size: 40px;
    width: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
img:not(.nav-logo) {
    width: 100%;
    
    display: block;
  }

.pic{
    width: 150px;
    height: 150px;
    margin-left: 225px;
    margin-top: 30px;
    background-color: brown;
    
}
#photo{
    height: 100%;
    object-fit:cover;
    border-radius:50%;
}
#btn{
    margin-left: 250px;
}
#left{
    margin-right: 50px;
    background-color: transparent;
    color: rgba(159,212,250,255);
    border: 0;
    font-size: 24px;
}
#right{
    margin-right: 200px;
    background-color: transparent;
    color: rgba(159,212,250,255);
    border: 0;
    font-size: 24px;
}
button:hover{
    opacity: 0.5;
}
#surprise{
        min-width:110px;
        height: 30px;
        margin-left: 247px;
        margin-top: 20px;
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        border-radius:10px;
        color: rgba(73,166,233,255);
        border-color: rgba(73,166,233,255);
        background-color: rgba(234,247,255,255);
        text-align: center;
        line-height: 5px;     
}
.profile{
    width:500px;
    background-color: rgb(71, 255, 114);
    display: inline;
    text-align: center;
}
#name{
    color: rgb(106, 180, 254);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
#work{
    color: rgb(6, 7, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
#rev{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
}